* {
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff url(../imagens/bg.png);
	margin: 15px;
}

#container {
	background: #ede9cc url("../imagens/bg-container.png") top center repeat-y;
	margin: 0 auto;
	min-width: 740px;
	max-width: 1180px;	
}

#top {
	position: relative;
	background: #dbcd87;
	height: 15.4em;
	min-height: 250px;
}

#logo-area {
	position: absolute;
	background: url(../imagens/topo-imagem-principal.png) no-repeat;
	width: 100%;
	height: 250px;
	top: 0;
	left: 0;
	z-index: 1;	
}

.logo a {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 3;
	background: url(../imagens/logo.png) no-repeat;
	width: 151px;
	height: 66px;
	text-indent: -3000px;
}

#menu-area {
	top: 0;
	right: 0;
	position: absolute;
	background: url(../imagens/topo-imagem-lateral.png) no-repeat;
	width: 450px;
	height: 250px;
	z-index: 2;
}

#menu-content {
	margin-left: 90px;
	margin-right: 15px;
	padding-top: 15px;
}

#places-menu {
	border-bottom: 1px solid #b5ab56;
	border-top: 1px solid #b5ab56;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.7em;
	color: #8b8448;
}

#places-menu .places {
	float: left;
	line-height: 2.1em;
}

a {
	text-decoration: none;
}

a.reserve {
	text-tranform: uppercase;
	background: #ad9750;
	color: #fff5b0;
	padding: 5px 10px;
	float: right;
}

/* navegation side-bar */

#menu {
	margin-top: 15px;
}

ul {
	list-style: none;
}

ul#navegation {
	float: left;
}

ul#navegation a {
	text-transform: uppercase;
	font-size: 0.8em;
	padding: 5px;
	color: #6e672c;
	line-height: 30px;
}

ul#navegation a:hover {
	background: #fdf6be;
}

.testimonial {
	width: 226px;
	height: 164px;
	float: right;
}


/* Content Areas */

#main-area {
	float: left;
	width: 50%;
	background: url("../imagens/bg-area-principal.png") top left repeat-x;
	padding: 15px 0;
}

#side-area {
	float: right;
	width: 50%;
	background: url("../imagens/bg-area-lateral.png") top left repeat-x;
	padding: 20px 0;
}

.content {
	margin: 0 auto;
	width: 90%;
}

#footer {
	clear: both;
	padding: 16px;
	background: #fff url("../imagens/bg-rodape.png") repeat-x top;
}

/* text formatting */

h2 {
	color: #7d7640;
	font-size: 1.1em;
	padding: 5px 0;
}

p {
	font-size: 1em;
	margin-bottom: 10px;
}

/* side-area formatting */

#benefits li {
	padding: 8px;
	border-bottom: 1px solid #f3efcb;
	height: 6em;
}

#benefits li a img {
	float: left;
	margin-right: 8px;
}

#benefits li a p {
	color: #000;
	font-size: 0.8em;
}

#benefits li a h3 {
	font-size:1.1em;
	color: #615b2d;
	padding: 5px 0;
	background: url("../imagens/ornamento.png") no-repeat center right
}

#benefits li:hover {
	background: #f6f3d6;
	cursor: pointer;
}
